.pageContainer {
    text-align: center;
}

.header {
    background-color: blue; /* Choose a modern color */
    padding: 1rem;
    border-bottom: 1px solid #eaeaea; /* Adds a slight separation */
    border-radius: 0 0 20px 20px; /* Rounded bottom edges */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    /* Styles for the logo container */
}

.logoLink {
    text-decoration: none;
    color: #fff; /* Contrast color for the logo text if not using an image */
}

.logo {
    height: 50px; /* Adjust based on your actual logo's size */
    border-radius: 10px; /* Round edges for the logo */
}

.navLinks {
    /* Container for navigation links */
}

.navLink {
    text-decoration: none;
    margin: 0 15px;
    color: #fff; /* Navigation links color */
    background-color: #007bff; /* Background color for the links */
    padding: 10px 15px;
    border-radius: 15px; /* Rounded edges for links */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.navLink:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.userSettings {
    /* Style for user settings or avatar */
}

.mainContent {
    padding: 20px;
}

.footer {
    padding: 10px;
    border-top: 1px solid #eaeaea;
}
.image {
    width: 100%; /* Example: Set the width to 100% of the container */
    max-width: 400px; /* Example: Max width of 400px */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Example: Rounded corners */
    margin: 10px 0; /* Example: Margin for spacing */
}
