/* src/components/Header/Header.module.css */
.header {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.logoContainer {
    margin-right: 2rem; /* Adjust spacing as needed */
}

.logoLink {
    text-decoration: none;
    color: #61dafb;
    font-size: 1.5rem;
    font-weight: bold;
}

.navLinks {
    display: flex;
}

.navLink {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navLink:hover {
    background-color: #555;
}
